body {
  font-size: 12px;
  font-family: "Monaco", "Menlo", "Courier New", "Courier", "monospace";

  margin-left: auto;
  margin-right: auto;

  max-width: 40em;
  min-width: 20em;

  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;

  color: #f8f8f2;
  background-color: #282a36;
}

a {
  color: #8be9fd;
}

div {
  font-size: 1em;
}

/* https://stackoverflow.com/questions/7698764/custom-bullet-symbol-for-li-elements-in-ul-that-is-a-regular-character-and#12216973 */
ul {
  font-size: 1em;
  list-style: none;
  margin-left: 0em;
  padding-left: 0em;
}

li {
  padding-left: 2em;
  text-indent: -1em;
}

li:before {
  content: "+";
  padding-right: 0.5em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #44475a;
  color: #f8f8f2;
  text-align: center;
  font-size: 0.8em;
}

.code-comment {
  color: #6272a4;
}

/* https://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css-3#16344389 */
.blink_text {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
